@import url("https://fonts.googleapis.com/css?family=Hind");



.whiteOut {
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  transition: opacity 500ms;
  position:absolute;
  z-index: -1;
}

h1 {
  font-family: 'Teko', sans-serif;
  text-align: center;
  font-size: 5vw;
  top: 0;
  margin:6% 0 0 0;
  position: absolute;

  font-weight: 200;



}


mat-grid-tile {
  box-shadow: 2px 2px 0.001px black;
  flex-direction: column;
}

.buttonContain {
  position: absolute;
  bottom: 12%;

}

button {
  margin: 10px;
  background: none;
  color: black;
  border: none;
  //border-bottom: 1px solid black;
  box-shadow: .5px .5px 4.5px 0px black;
  //box-shadow: .5px .5px 4.5px 0.001px black;
  padding: 12px 20px 12px 20px;
  //border-radius: 5px;
  //transition-delay: border-top 1s;

}

button:hover {
  box-shadow: .5px 1.5px 4.5px 0px black;
  //box-shadow: 1.5px 1.5px 4.5px 0.001px black;
  //box-shadow: 0px 1.5px 5px 0.001px black;


}

.hoverElement {
  opacity: 0;
  transition: opacity 100ms;
  color: black;
}

p {
  text-align: center;

  font-weight: bold;
  width: calc(100% - 30px);
  /* bottom: 0; */
  font-family: 'Hind', sans-serif;
}


mat-grid-tile:hover p {
   opacity: 1;
 }

mat-grid-tile:hover button {
  opacity: 1;
}


mat-grid-tile:hover h1 {
  opacity: 1;
}

mat-grid-tile:hover .whiteOut {
  opacity: .8;
}

mat-grid-tile:hover {
  opacity: .5;
}

mat-grid-list {
  margin: 30px;
}





//

mat-grid-tile-footer {
  background-color: #6E9EC1;
}





#jamSesh {
  background-image: url("../../assets/img/jamSeshBG.png") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;



}


#stitchophrenic {
  //background-image: url("../../assets/img/stitchophrenicBG.png") ;
}

mat-form-field {

}

.mat-select-panel {
  margin-top: 15px;
}

#dropdownContainer {

  width:100%;

  text-align: center;

}


.tile {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;


}
//
//#homeNav {
//  //transition: top 3s;
//  //top: calc(100vh - 70vh);
//}
//
//
//mat-grid-tile:hover {
//  background-color: #ddbc429e;
//  transition:background-color 1s;
//
//
//}
//
//
//#homeContain {
//  width: 100vw;
//  height: 100vh;
//  //overflow: hidden;
//
//}
//
//.imageContainer {
//  width: 100%;
//  height:100%;
//  background-color: red;
//}
//
//
//.skate2 {
//  position: absolute;
//  top: 70px;
//  vertical-align: middle;
//  max-width: 700px;
//  height: auto;
//  width: 53%;
//  right: 26%;
//  z-index: 12;
//  transition: opacity .3s;
//  max-height: 327px;
//
//}
//
//.skate3 {
//  position: absolute;
//  top: 70px;
//  vertical-align: middle;
//  /* width: 70%; */
//  max-width: 700px;
//  height: auto;
//  width: 61%;
//  left: 58%;
//  transition: opacity .3s;
//  max-height: 327px;
//
//}
//
//
//
//
//#skateSlide {
//  width: 100px;
//  height:100px;
//  background-color: blue;
//  background-image: url("../../assets/img/skate1.png");
//  background-position: top left;
//  background-size: contain;
//  background-repeat: no-repeat;
//}
//
//
//
//
//
//mat-grid-tile {
//  overflow: hidden;
//}
//
//
//.backgroundImage {
//  position: absolute;
//  top: 70px;
//  vertical-align: middle;
//
//  height: auto;
//  width: 100%;
//  max-width: 700px;
//}
//
//#stitchButton {
//  width: 25vw;
//  height: 14vw;
//  //width: 71%;
//  //height: 85%;
//  background-size: contain;
//}
//
//.background {
//  position: absolute;
//  top: 0px;
//  vertical-align: middle;
//  margin-left: 15%;
//  margin-right: 15%;
//  width: 70%;
//
//  max-width: 700px;
//}
//
//
//#matContain  {
//  //bottom: 0vh;
//
//  transform-origin: bottom;
//  width: 100%;
//  max-height: 90vh;
//  // max-width: 950px;
//  margin-left:auto;
//  margin-right:auto;
//
//  transition: bottom 1s ease-out ;
//  position: absolute;
//
//}
//
//mat-grid-list {
//  // max-width: 950px;
//
//  margin-left: auto;
//  margin-right:auto;
//
//}
//mat-grid-tile {
//  overflow: visible;
//  //transition: top 1s ease-out;
//  //background-color: black;
//  cursor: pointer;
//}
//
//
//
//
//
//#gridListContain {
//
//  width: 100vw;
//  height: 100vh;
//  overflow: hidden;
//  position: fixed;
//}
//
//
//
//
//
//
//.instrument {
//  height: auto;
//  width: 93%;
//  position:absolute;
//
//
//}
//
//#synth {
//  top: 31%;
//  right: 92%;
//  transition: .3s;
//}
//
//#keyboard {
//  vertical-align: middle;
//  top: 34%;
//  right: 7%;
//  transition: .3s;
//}
//
//#drum {
//  top: 31%;
//  right: -62%;
//  transition: .3s;
//}
//
//
//#instrumentContain {
//  z-index: 11;
//  width: 73%;
//  height: 100%;
//  overflow:hidden;
//  position: relative;
//}











//.description{
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   clip-path: polygon(0 78%, 100% 62.5%, 100% 100%, 0 100%);
// }
//
//#jamSeshDescription {
//  //background-color: #DD6E42;
//  top: 100vh;
//}
//
//#stitchDescription{
//  background-color: #ddbc42c7;
//  position: absolute;
//  width: 100%;
//  height: 100%;
//  //clip-path: polygon(0 78%, 100% 62.5%, 100% 100%, 0 100%);
//  bottom: 0;
//}
//
//
//
//
//.container {
//  height: 100vh ;
//  width:100%;
//}
//
//
//
//#stitchContainer {
//  height: calc(100vh - 65px);
//
//}
//
//@media only screen and (max-width: 599px) {
//  #stitchContainer {
//    height: calc(100vh - 56px);
//
//  }
//
//}
//
//h1 {
//  font-family: 'Teko', sans-serif;
//  font-weight: 300;
//  letter-spacing: 3px;
//  text-align: center;
//  text-shadow: 2px 2px #DD6E42;
//  position: absolute;
//  width: 100%;
//  //top: 71%;
//}
//
//@media only screen and (max-height: 535px) {
//  h1 {
//    margin-bottom: 3%;
//
//  }
//
//}
//
//@media only screen and (max-height: 450px) {
//  h1 {
//    margin-bottom: 2%;
//
//  }
//}
//
//@media only screen and (max-height: 420px) {
//  h1 {
//    margin-bottom: 1%;
//
//  }
//}
//
//
//#jamSeshTitle {
//  text-shadow: 2px 2px #ddbc42;
//}



//.heroImg {
//  //clip-path: polygon(0 0, 100% 0, 100% 59%, 0 76%);
//  background-size: cover;
//  font-family: 'Fira Sans', sans-serif;
//  margin: 0;
//  overflow: hidden;
//  height: 100%;
//  /* padding: 150px 20px; */
//  background-position: top center;
//  position: relative;
//  text-align: center;
//  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
//}
