
<!--//, 'transition':homeTransition-->

<!--HOME NAV-->

<!--[ngStyle]="{'display':homeNavDisplay, 'opacity': homeNavOpacity , 'top':homeNavTop}"-->
<!--<mat-grid-list  cols="1" rowHeight="7:3" gutterSize="20px" >-->


  <!--<mat-grid-tile id="stitchophrenic">-->
    <!--<mat-grid-tile-header class="tileFooter">STITCHOPHRENIC</mat-grid-tile-header>-->
  <!--</mat-grid-tile>-->

  <!--<mat-grid-tile id="jamSesh">-->
    <!--<mat-grid-tile-header class="tileFooter">JAMSESH</mat-grid-tile-header>-->
  <!--</mat-grid-tile>-->
  <div class="container" id="stitchContainer">
  <div class="heroImg" id="stitchophrenic"></div>
    <div id="stitchDescription" [@stitchDescriptionHover]="stitchHoverState"  (mouseenter)="stitchHover($event)" (mouseleave)="stitchHover($event)" class="description">
      <h1 [@titleHover]="stitchHoverState">Stitchophrenic</h1>
      <p [@descriptionHover]="stitchDescriptionState" > E-commerce platform made for my clothing brand, Stitchophrenic.
        Each piece is up-cycled and one of a kind! This site was made With MongoDB, ExpressJS, AngularJS and NodeJS.</p>
    </div>

  </div>
  <div class="container">
  <div class="heroImg" id="jamSesh"></div>
    <div id="jamSeshDescription" [@jamSeshDescriptionHover]="jamSeshHoverState" (mouseenter)="jamSeshHover($event)" (mouseleave)="jamSeshHover($event)" class="description">
      <h1 id="jamSeshTitle" [@titleHover]="jamSeshHoverState">JamSesh</h1>
      <p>This website was made With AngularJS and will rock your socks off!</p>
    </div>

  </div>


<!--</mat-grid-list>-->
