@import url("https://fonts.googleapis.com/css?family=Teko");

mat-grid-tile {
  video {
    width: 100%;
    height:auto;
  }
}

.mat-tab-labels{
  justify-content: center; /* align items in Main Axis */
}

.modeling {
  background-color: red;
  width: 100px;
  height: 100px;
}

iframe {
  width: 90%;
  height: 90%;
}
#pantViewContainer {
  width: 100%;
  height: 90vh;


}

h2 {
  width: 100%;
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-weight: 200;
}

p {
  position: fixed ;
  z-index:14;
}
.spriteslider {
  margin: 20px auto;
  /* padding: 60px; */
  /* width: 50%; */
  /* width: 128px; */
  /* background: #FCFEFC; */
  border-radius: 5px;
}
#spritetarget {
  //width: 473px;
  //height: 100;
  width: 33vh;
  height: 64vh;
  background-size: 600vh 600vh;
  margin-left: auto;
  margin-right:auto;

  //background-image: url(../../assets/img/pantView/pantSprite.png); /* horizontal spritesheet - image from http://preloaders.net */
  //background-repeat: repeat-x;
  //background-position: top 20px left 40px;


}

mat-tab {
  background-color: green;
  height: 100vh;
}

