<div id="dropdownContainer">
  <mat-form-field>
    <mat-select [(ngModel)]="selectedType" (ngModelChange)="onSelect(selectedType)" placeholder="Filter by project type">
      <mat-option *ngFor="let projectType of uniqueProjectTypes" [value]="projectType">
        {{projectType}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-grid-list  [cols]="cols | async" rowHeight="6:4" gutterSize="30px" >


  <mat-grid-tile *ngFor="let project of portfolioDisplay" id="stitchophrenic" class="tile" [ngStyle]="{'background-image': 'url(' + project.backgroundUrl + ')'}">
    <!--<mat-grid-tile-footer class="tileFooter">STITCHOPHRENIC</mat-grid-tile-footer>-->

    <div class="whiteOut">
    <h1 class="hoverElement">{{project.title}}</h1>

    <p class="hoverElement">{{project.description}}</p>
    <div class="buttonContain">
      <button class="hoverElement" [ngStyle]="{'display':project.button1Display}" (click)=openProject(project.button1Url)>{{project.button1Title}}</button>
      <button class="hoverElement" [ngStyle]="{'display':project.button2Display}" (click)=openProject(project.button2Url)>{{project.button2Title}}</button>
      <button class="hoverElement" type="button" [ngStyle]="{'display':project.modalButtonDisplay}"  (click)="openModal(project.modalType, project.modalData)">{{project.modalButtonTitle}}</button>
    </div>
    </div>

  </mat-grid-tile>

</mat-grid-list>
