<nav *ngIf="router.url !== '/home' " >
<div class="toolBarDisplay" [ngStyle]="{ 'display':  toolBarDisplay}">
<mat-toolbar color="primary">
  <!--<button mat-button class="app-menu-button" >-->



  <!--<i class="material-icons">menu</i>-->
  <!--</button>-->
  <!--<img src="../assets/img/SH.png"/>-->
  <h1>SEAN HOLAHAN</h1>
  <button mat-button class="md-warn" [routerLink]="['/home']">home</button>
  <button mat-button class="md-accent" [routerLink]="['/dataScience']">dataScience</button>
  <button mat-button [routerLink]="['/animation']">animation</button>
  <button mat-button [routerLink]="['/jamSesh']">jamsesh</button>
</mat-toolbar>
</div>
  </nav>
