<nav *ngIf="router.url !== '/home' " >
<div class="toolBarDisplay" [ngStyle]="{ 'display':  toolBarDisplay}">
<mat-toolbar color="primary">
  <!--<button mat-button class="app-menu-button" >-->



  <!--<i class="material-icons">menu</i>-->
  <!--</button>-->
  <!--<img src="../assets/img/SH.png"/>-->
  <h1 [routerLink]="['/home']">SEAN HOLAHAN</h1>

  <button class="md-accent" [routerLink]="['/webDev']">WEB DEVELOPEMENT</button>
  <button  class="md-accent" [routerLink]="['/dataScience']">DATA SCIENCE</button>
  <button  [routerLink]="['/animation']">ANIMATION</button>
  <button  [routerLink]="['/jamSesh']">UX/UI</button>
  <button  [routerLink]="['/animation']">RESUME</button>
  <button   (click)="goToGit()">GITHUB</button>

</mat-toolbar>
</div>
  </nav>
