
@import './theme.scss';

.theme {
  //@include angular-material-theme($my-theme);
}



body {
  background-color:#6E9EC1;//darker #4F7189;//lighter
  margin:0;
}


#loadingGif {
  background-image:url(./assets/img/skateSprite4.png);
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  animation: play 0.8s steps(13) infinite;
  //top: calc(50vh - 75px);
  margin-top: 25%;
}

@keyframes play {
  100% { background-position: 1300px; }
}
