@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/_theming';

// Include non-theme styles for core.
@include mat-core();

// Define a theme.
$primary: mat-palette($mat-orange, 500, A100, A200);
$accent:  mat-palette($mat-orange, 500, A100, A400);
$warn: mat-pallete($mat-pink , 200,100,400);
$background: mat-pallete($mat-orange);

$theme: mat-dark-theme($primary, $accent);

// Include all theme styles for the components.
@include angular-material-theme($theme);


