@import url("https://fonts.googleapis.com/css?family=Averia+Libre|Prosto+One|Stardos+Stencil|Vast+Shadow");
@import url("https://fonts.googleapis.com/css?family=Teko");
@import url("https://fonts.googleapis.com/css?family=Hind");
@import "../style/custom-theme.scss";



#cloudBG {
  z-index: -1;
  transform: translateY(-64px) ;
  position: relative;
  width: 100vw;
  min-height:300px;
  height: 50vh;
  background-size: cover;
  background-image: url(../../assets/img/cloudBG3.png);
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: -64px;
}

#portraitPic {
  background-image: url(../../assets/img/seanFace.png);
  width: 150px;
  height: 150px;
  border-radius: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: auto;
  margin-left: auto;
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
-o-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
app-professional-links {
  position: absolute;
  bottom:0;
  width: 100%;
}

#portraitPic:hover {
  width: 170px;
  height: 170px;
}

#homeContainer {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  min-height: 650px;
  margin: 0 auto;
}

h1 {
   font-family: 'Teko', sans-serif;
   text-align: center;
   font-size: 10vw;
   position: relative;
   font-weight: 200;
   color:$primary-font-base-color;
   text-shadow: $large-text-shadow;
   transition-delay: 1s;
   transition: top 1s;
   margin:0;
  margin-top: 10px;
  width:100vw;
 }

h2 {
  font-family: 'Teko', sans-serif;
  text-align: center;
  font-size: 3vw;
  position: relative;
  width:100%;
  font-weight: 200;
  color: black;
  transition-delay: 1s;
  transition: top 1s;
  margin:0;
  letter-spacing: 4px;
  line-height: 1;
}

h3 {
  font-family: 'Teko', sans-serif;
  text-align: center;
  font-size: 23px;
  font-weight: 200;
  color: black;
  margin-bottom: 11vh;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1.5px;
  width: 20vw;
  flex-grow: 1;
  max-width: 277px;
}

h4 {
  font-family: 'Teko', sans-serif;
  font-size: 23px;
  letter-spacing: 2px;
  margin: 0;
  font-weight: 100;
  width: 100vw;
  
  transition: text-shadow 500ms;
  text-align: center;
}

@media only screen and (max-width: 920px) {
  

  h3 {
    margin-left: 10px;
    margin-right: 10px;
  }
  

  
  h1 {
    font-size: 12vw;
  }

  h2 {
    font-size: 4vw;

  }
}

@media only screen and (max-width: 400px) {


  #homeNavContainSmall {
    display: flex;
    flex-direction: column;
    z-index: 30;

    /* background-image: linear-gradient( white , #6E9EC1 5% ); */
    translate: 0 80%;

  }

  video {
    margin-bottom:20vh;
  }




  .button {
    width: 100vw;
    height: 10vh;
    background-color: rgba(255,255,255, .9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color 600ms;
  }

  .button:hover {
    background-color: rgba(255,255,255, 1);
  }

  #icon {
    display: flex;
    background-image: linear-gradient(transparent,rgba(255, 255, 255, 0.9)100%);
    background-color: transparent;
  }

  #hamburger {
    width: 32px;
    margin-left: 15px;
  }

  h4 {
    width: 100vw;
    text-shadow:  .5px .5px grey;
    
  }


  h1 {
    font-family: 'Teko', sans-serif;
    text-align: center;
    /* position: relative; */
    font-weight: 200;
    color: $primary-font-base-color;
    text-shadow: $large-text-shadow;
    transition-delay: 1s;
    transition: top 1s;
    margin: 0;
    width: 100vw;
    font-size: 4em;
  }






  h2 {
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-size: 6vw;
    position: relative;
    width: 100vw;
    font-weight: 200;
    color: black;
    transition-delay: 1s;
    transition: top 1s;
    margin: 0;
    letter-spacing: 4px;
    line-height: 1;
  }
}
