@import url("https://fonts.googleapis.com/css?family=Averia+Libre|Prosto+One|Stardos+Stencil|Vast+Shadow");
@import url("https://fonts.googleapis.com/css?family=Teko");
@import url(~@angular/material/prebuilt-themes/indigo-pink.css);
@import url("https://fonts.googleapis.com/css?family=Hind");
@import "../style/custom-theme.scss";
/*tester*/
#set-height {
  display: block; }

#video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

p {
  font-size: 24px; }

/*tester*/
.tester {
  width: 50px;
  height: 50px;
  background-color: red;
  z-index: 13;
  bottom: 0;
  position: fixed; }

.tileHeader {
  font-family: 'Teko', sans-serif;
  top: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  margin-bottom: 0;
  font-weight: 200; }

video {
  height: auto;
  width: 100%;
  object-fit: cover;
  max-width: 1280px; }

mat-grid-list {
  margin-left: auto;
  margin-right: auto;
  top: 100vh;
  z-index: 20; }

mat-grid-tile {
  overflow: visible;
  cursor: pointer;
  transition: text-shadow 400ms;
  padding-top: 200px; }

mat-grid-tile:hover {
  text-shadow: 1px 1px orange; }

mat-grid-tile:focus {
  outline: none; }

#descriptionText {
  width: calc(61vh - 60px);
  height: calc(84vh - 60px);
  /* top: 0px; */
  left: 50%;
  margin: 0px;
  font-size: 1.2em;
  padding-top: 20px;
  padding-left: 20px;
  text-align: left;
  bottom: 60px;
  font-family: 'Hind', sans-serif;
  line-height: 1.3em; }

#cloudBG {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-transform-origin: bottom center;
  background-size: cover;
  background-image: url(../../assets/img/cloudBG3.png);
  transform-origin: bottom center; }

#seanPortrait {
  box-shadow: 0px 0px 40px black;
  width: calc(61.7vh - 60px);
  height: calc(78vh - 60px);
  z-index: 30;
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 60px;
  -webkit-transform-origin: bottom center;
  overflow: hidden;
  flex-grow: 0; }

#icon {
  display: none; }

#enterButton {
  font-family: 'Teko', sans-serif;
  width: 20vw;
  font-size: 3vw;
  color: black;
  margin: 20px;
  padding: 20px;
  background: none;
  border: none;
  border-radius: 10px;
  transition: background 400ms; }

#enterButton:focus {
  outline: none; }

#enterButton:hover {
  background-image: radial-gradient(lightSkyBlue 5%, #6E9EC1 75%); }

a {
  color: black; }

a:focus {
  outline: none; }

#buttonContain {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 21;
  top: 40vh; }

.video-background {
  /*  making the video fullscreen  */
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100; }

#blackBox {
  position: absolute;
  top: 26vh;
  left: 15vw;
  width: 70vw;
  height: calc(88vh - 200px);
  z-index: 30;
  background-color: black; }

#seanWrapper {
  text-align: center; }

.balancePicture {
  width: 100%;
  height: auto;
  bottom: 0;
  position: sticky;
  left: 0; }

.buildings {
  top: 100%; }

#clouds {
  height: 102.3%;
  width: auto; }

#landingContain {
  width: 100vw;
  height: 100vh;
  text-align: center;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%; }

#homeLanding {
  height: 100%;
  width: auto;
  top: 0px;
  overflow: hidden;
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  z-index: 20;
  transition: opacity 500ms; }

#portraitContain {
  display: flex;
  /* justify-content: center; */
  bottom: 60px;
  position: absolute;
  width: 100vw;
  align-items: center; }

#tile1 {
  background-color: black; }

p {
  position: absolute;
  margin: 20px;
  left: 50%; }

#headerHide {
  background-color: #6E9EC1;
  top: 0;
  right: 0;
  height: 200vh;
  z-index: -9;
  position: absolute;
  width: 75vw; }

h1 {
  font-family: 'Teko', sans-serif;
  text-align: center;
  font-size: 10vw;
  position: relative;
  font-weight: 200;
  color: black;
  transition-delay: 1s;
  transition: top 1s;
  margin: 0;
  margin-top: 10px;
  line-height: 12vh;
  width: 100vw; }

h2 {
  font-family: 'Teko', sans-serif;
  text-align: center;
  font-size: 3vw;
  position: relative;
  width: 100%;
  font-weight: 200;
  color: black;
  transition-delay: 1s;
  transition: top 1s;
  margin: 0;
  letter-spacing: 4px;
  line-height: 1; }

#descriptionTextRight {
  right: 0; }

#homeNavContainLarge {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%; }

#homeNavContainSmall {
  display: none;
  position: absolute;
  bottom: 0px;
  width: 100%;
  transition: translate 600ms ease-out; }

.button {
  width: 25vw;
  height: 40px; }

.button:hover h4 {
  text-shadow: orange 0.5px 0.5px; }

.button:focus {
  outline: none; }

h3 {
  font-family: 'Teko', sans-serif;
  text-align: center;
  font-size: 23px;
  font-weight: 200;
  color: black;
  margin-bottom: 11vh;
  /* margin-top: -14vw; */
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 1.5px;
  width: 20vw;
  flex-grow: 1;
  max-width: 277px; }

h4:hover {
  cursor: default; }

h4 {
  font-family: 'Teko', sans-serif;
  font-size: 23px;
  letter-spacing: 2px;
  margin: 0;
  /* bottom: 14px; */
  /* vertical-align: middle; */
  /* position: absolute; */
  font-weight: 100;
  /* text-align: center; */
  width: 25vw;
  text-shadow: white 0.5px 0.5px;
  transition: text-shadow 500ms; }

#headerContain {
  width: 100%;
  z-index: -10;
  transition: height 300ms;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

#taglineContain {
  width: 100%;
  z-index: -10;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.mat-stroked-button {
  font-family: 'Teko', sans-serif;
  font-weight: 500; }

.footer {
  font-family: 'Teko', sans-serif;
  bottom: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  margin-bottom: 0;
  font-weight: 200; }

mat-toolbar {
  background-color: transparent; }

.profile-image {
  height: 61%;
  width: 61%;
  background-position: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute; }

@media only screen and (max-width: 685px) {
  h3 {
    display: none; }

  #seanPortrait {
    margin-left: auto;
    margin-right: auto; }

  video {
    margin-bottom: 10vh; } }
@media only screen and (max-width: 700px) {
  video {
    width: 100%;
    height: auto; }

  #headerHide {
    width: 100vw; } }
@media only screen and (max-width: 920px) {
  video {
    width: 130vw;
    margin-left: -15vw; }

  h3 {
    margin-left: 10px;
    margin-right: 10px; }

  video {
    object-fit: contain;
    margin-bottom: 10vh; }

  #headerHide {
    width: 77vw; }

  h1 {
    line-height: 10vh;
    font-size: 12vw; }

  h2 {
    font-size: 4vw;
    width: 81vw; } }
@media only screen and (max-width: 400px) {
  #homeNavContainSmall {
    display: flex;
    flex-direction: column;
    z-index: 30;
    /* background-image: linear-gradient( white , #6E9EC1 5% ); */
    translate: 0 80%; }

  video {
    margin-bottom: 20vh; }

  #headerHide {
    width: 76vw; }

  #homeNavContainLarge {
    display: none; }

  #homeNavContainSmall:hover {
    translate: 0 0;
    box-shadow: 0px 0px 40px black; }

  #homeNavContainSmall:focus {
    translate: 0 0;
    box-shadow: 0px 0px 40px black; }

  .button {
    width: 100vw;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color 600ms; }

  .button:hover {
    background-color: white; }

  #icon {
    display: flex;
    background-image: linear-gradient(transparent, rgba(255, 255, 255, 0.9) 100%);
    background-color: transparent; }

  #hamburger {
    width: 32px;
    margin-left: 15px; }

  h4 {
    width: 100vw;
    text-shadow: .5px .5px grey; }

  h1 {
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-size: 12vw;
    position: relative;
    font-weight: 200;
    color: black;
    transition-delay: 1s;
    transition: top 1s;
    margin: 0;
    line-height: 6vh; }

  h2 {
    font-family: 'Teko', sans-serif;
    text-align: center;
    font-size: 6vw;
    position: relative;
    width: 100vw;
    font-weight: 200;
    color: black;
    transition-delay: 1s;
    transition: top 1s;
    margin: 0;
    letter-spacing: 4px;
    line-height: 1; }

  h3 {
    display: none; }

  #portraitContain {
    display: flex;
    position: absolute;
    align-items: center;
    bottom: calc(15.5vh);
    box-shadow: none; }

  #seanPortrait {
    box-shadow: 0px 0px 40px black;
    height: calc(69vh - 60px);
    z-index: 30;
    background-size: contain;
    background-repeat: no-repeat;
    -webkit-transform-origin: bottom center;
    overflow: hidden;
    flex-grow: 0;
    width: 100vw; } }

/*# sourceMappingURL=home.component.css.map */
