









<div class="box" class="flexbox-parent" (mouseenter)="onEvent($event)"
     (mouseleave)="onEvent($event)"
     (mousemove)="coordinates($event)"
     on-click="onEvent($event)"
     on-dblclick="onEvent($event)"
     on-contextmenu="onEvent($event)">
  <p class="type">Type: {{event?.type}}</p>
  <p>x: {{clientX}}, y: {{clientY}}</p>
  <p>x: {{movementX}}, y: {{movementY}}</p>
  <p>ctrl: {{event?.ctrlKey}}, shift: {{event?.shiftKey}}, meta: {{event?.metaKey}}</p>

  <!--<p class="type">Type: {{event?.type}}</p>-->
  <!--<p>x: {{clientX}}, y: {{clientY}}</p>-->
  <!--<p>x: {{movementX}}, y: {{movementY}}</p>-->
  <!--<p>ctrl: {{event?.ctrlKey}}, shift: {{event?.shiftKey}}, meta: {{event?.metaKey}}</p>-->

  <h1>SEAN HOLAHAN</h1>

  <mat-grid-list   cols="1" rowHeight="2:1">
    <mat-grid-tile  >


      <!--<div class = "imageContainer">-->


      <img class="backgroundImager"   src="../../assets/img/background.jpg"/>
      <img class="skate2"  [ngStyle]="{ 'opacity':  skate2Opacity }" src="../../assets/img/skate2.png"/>
      <img class="skate3" [ngStyle]="{ 'opacity':  skate3Opacity }"   src="../../assets/img/skate3.png"/>

      <!--<div class="profile-image"-->
             <!--[ngStyle]="{ 'background-image': 'url(' + image + ')'}"></div>-->
      <!--</div>-->


    </mat-grid-tile>


  </mat-grid-list>

</div>

